@font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("assets/fonts/Roboto-Medium.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url("assets/fonts/PermanentMarker.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 700;
}

:root {
    --color-blue: #0d1137;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-rose: #e52165;
    --color-grey-light: #f5f6fa;
    --color-grey: #adb5bd;
    --color-yellow: #ffd166;
    --color-green: #06d6a0;

    --color-blsck-blue: #073b4c;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto-Thin';
    background-color: var(--color-grey-light);
    color: var(--color-blue);
}

ul {
    list-style-type: none;
}

a { 
    text-decoration: none; 
    color: var(--color-white);
} 

hr {
    margin: 10px auto;
    width: min(500px, 90%);
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.section-title-h2 {
    margin: 0 auto;
    margin-top: 100px;
    color: var(--color-blue);
    font-size: 50px;
    font-family: 'Roboto-Medium';
    font-weight: 400;
}

/* ---------- Start styles Header --------- */
.header-container {
    width: 100%;
    background-color: var(--color-white);
}

.hamburger-nav {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 40px;
    top: 20px;
    align-items: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
    user-select: none;
}

.line {
    width: 100%;
    height: 1px;
    background: var(--color-blue);
    margin: 5px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
}
  
.hamburger-nav.open .line1 {
    transform: rotate(-45deg) translate(-10px, 6px);
}
  
.hamburger-nav.open .line2 {
    opacity: 0;
}
  
.hamburger-nav.open .line3 {
    transform: rotate(45deg) translate(-10px, -6px);
}

.text-menu {
    position: absolute;
    z-index: 0;
    right: 120px;
    top: 30px;
    font-size: 28px;
    font-family: 'Roboto-Thin';
}

.nav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 3; 
    top: 0;
    right: 0;
    background-color: var(--color-rose); 
    color: var(--color-white);
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}

.open-nav {
    width: min(380px, 100%);
    visibility: visible;
    transition: 0.9s;
}

.nav-items {
    margin-top: 40px;
    margin-left: 50px;
}

.nav-item {
    font-size: 30px;
    height: 60px;
    transition: font-size 4s, color 4s;
    cursor: pointer;
}

.nav-item-link:hover {
    font-size: 34px;
    color: var(--color-blue);
    transition: 0.6s; 
}
/* ---------- End styles Header --------- */

/* ---------- Start styles Main --------- */
.main-container {
    width: 100%;
}
/* ---SECTION TITLE--- */
.section-title {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 150px;
    width: 40em;
    height: 500px;
    background-color: var(--color-white);
    border-radius: 30px;
    text-align: center;
    animation: show 3.5s;
    box-shadow: 1px 1px 40px 30px var(--color-grey);
}

@keyframes show {
    from {opacity: 0;} to {opacity: 1;}
}

.title-avatar {
    position: relative;
    margin-top: 30px;
    width: 220px;
    height: 220px;
    margin-bottom: 20px;
}

.title-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
   /*  box-shadow: 1px 1px 20px 10px var(--color-black); */
}

.title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-text__name {
    font-family: 'PermanentMarker';
    font-size: 3.9em;
    color: var(--color-rose);
    word-wrap: break-word;
}

.title-text__profession {
    margin-bottom: 30px;
    font-family: 'Roboto-Thin';
    font-size: 1.7em;
}

.title-contacts ul {
    display: flex;
    height: 50px;
    width: 200px;
}

.title-contacts ul li {
    align-self: flex-end;
    margin: 0 auto;
    transform-origin: bottom;
}

.title-contacts ul li:nth-child(1) {
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
}

.title-contacts ul li:nth-child(2) {
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.title-contacts ul li:nth-child(3) {
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.title-contacts ul li:nth-child(4) {
    animation-duration: 5.4s;
    animation-iteration-count: infinite;
}

.title-contact__item {
    animation-name: title-contact__item;
    animation-timing-function: linear;
}
@keyframes title-contact__item {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-25px); }
    100% { transform: translateY(0); }
}


.title-contacts__item-link img {
    width: 30px;
    height: 30px;
}

/* ---SECTION SKILLS--- */
.section-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 650px;
}

.skills-title {
    position: relative;
    text-transform: uppercase;
    color: var(--color-blue);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); 
    display: inline-block;
}

.skills-title::before {
    content: attr(data-text);
    position: absolute;
    color: var(--color-yellow);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--color-yellow);
}  

.skills-title:hover::before {
    width: 100%;
    /* filter: drop-shadow(1px 1px 25px var(--color-yellow)); */
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 85%;
    height: auto;
}

.skill-type-item {
    width: 300px;
    height: auto;
    margin: 40px;
    /* плавное появление блока */
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.skill-type-item._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.skill-type-item__title {
    margin-top: 20px;
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto-Medium';
    color: var(--color-yellow);
}

.tech-skill-item {
    margin: 10px;
    font-size: 20px; 
}

.soft-skill-item, .lang-skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-size: 20px;
}

/* ---SECTION PORTFOLIO--- */
.section-portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
    border: 4px solid green;
}

.portfolio-title {
    position: relative;
    text-transform: uppercase;
    color: var(--color-blue);
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); 
    display: inline-block;
}

.portfolio-title::before {
    content: attr(data-text);
    position: absolute;
    color: var(--color-green);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--color-green);
}  

.portfolio-title:hover::before {
    width: 100%;
}

.portfolio-container {
    margin: 50px 0;
    width: 100%;
    height: auto;
    border: 1px solid red;
}



@media screen and (max-width: 560px) {
   
    .title-container  {
        height: 620px;
    }
    
    .title-avatar {
        width: 60%;
        height: auto;
    }

    
} 